table a {
    display: block;
    color: royalblue;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
}
table a:hover {
    background-color: #555;
    color: white;
}
td{
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    margin: auto;
    padding: 5px;
    width: 300px;
    background-color: white;
    text-align: center;
}
#table {
    margin: auto;
    background-color: white;
}

#signin_body {
    background-color: #4CAF50;
}
#signin_title{
    font-family: "Times New Roman";
    font-size: 65px;
    color: #010332;
    margin: auto;
    text-align: center;
}
#signin_sub-title {
    font-family: "Times New Roman";

}
/*

-webkit-text-stroke: 1px black;
text-shadow:
3px 3px 0 #000,
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
*/